.vh-100{
    height: 100vh;
}

.text-no-wrap{
    white-space: nowrap;
}

.gap-lg-25{
    @include media-breakpoint-up(lg){
        gap: 25px;
    }
}

.gap-15{
    gap: 15px;
}

.overflow-x-scroll{
    overflow-x: scroll;
}

.flex-none{
    flex: none;
}

.c-black{
    color: $black;
}

.c-yellow{
    color: $yellow;
}

.c-white{
    color: $white;
}