// -------- Variables ----------------- 

// Colors
$black: #152334;
$white: #FFFDFA;
$error: #FFA800;


// Base Variables
$body-background-color: $white;
$body-text-color: $black;
$title-text-color: $black;
$placeholder-color: $black;

// Types
$font-body: 'Non Bureau Light';
$font-display: 'Non Bureau Bold';
$font-title: 'Non Bureau SemiBold';